/*
 * Copyright (c) 2026 EKS Inc.
 * Created by Ryu.
 * SPDX-License-Identifier: LicenseRef-EKS-NonCommercial-1.0
 *
 * Unofficial modification, based on upstream commit
 * bee0bb4b812f63f279eb67e928accc89600b5904 and customized through
 * Keymap Editor for GitHub Actions builds.
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/modifiers.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    behaviors {
        cmd_bspc: command_backspace {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            display-name = "Command Backspace";
            bindings = <&kp BSPC>, <&kp SPACE>;
            mods = <(MOD_LGUI)>;
            keep-mods = <(MOD_LGUI)>;
        };
    };

    combos {
        compatible = "zmk,combos";

        reset {
            bindings = <&sys_reset>;
            key-positions = <48 5 6>;
        };

        combo_command_space {
            timeout-ms = <50>;
            key-positions = <60 63>;
            bindings = <&kp LG(SPACE)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------
            // |ESC | 1  | 2  | 3  | 4  | 5  |   | 6  | 7  | 8  | 9  | 0  |DEL |
            // |TAB | Q  | W  | E  | R  | T  |   | Y  | U  | I  | O  | P  |HOME|
            // |CAPS| A  | S  | D  | F  | G  |   | H  | J  | K  | L  | ;  |PGUP|
            // |LSFT| Z  | X  | C  | V  | B  |   | N  | M  | ,  | .  | /  |PGDN|
            // |LCTL|LALT|LGUI|                                 |RALT|RCTL|END |
            //                |LANG|SPC |MO1 |   |BSPC|RET |MO1 | B  |

            bindings = <
&kp ESC           &kp N1     &kp N2        &kp N3  &kp N4  &kp N5  &kp N6    &kp N7   &kp N8     &kp N9    &kp N0    &kp BACKSPACE
&kp TAB           &kp Q      &kp W         &kp E   &kp R   &kp T   &kp Y     &kp U    &kp I      &kp O     &kp P     &kp BACKSPACE
&lt 2 CAPS        &kp A      &kp S         &kp D   &kp F   &kp G   &kp H     &kp J    &kp K      &kp L     &kp SEMI  &kp ENTER
&kp LSHFT         &kp Z      &kp X         &kp C   &kp V   &kp B   &kp N     &kp M    &kp COMMA  &kp DOT   &kp FSLH  &kp RIGHT_SHIFT
&kp LCTRL         &kp LALT   &kp LEFT_ALT  &none   &none   &none   &none     &none    &none      &kp RALT  &kp SQT   &kp MINUS
&kp LEFT_COMMAND  &kp SPACE  &mo 2                                 &cmd_bspc  &kp RET  &mo 2      &kp B
            >;
        };

        lower_layer {
            bindings = <
&kp ESC           &kp N1     &kp N2          &kp N3  &kp N4  &kp N5  &kp N6    &kp N7   &kp N8     &kp N9    &kp N0             &kp MINUS
&kp TAB           &kp Q      &kp W           &kp E   &kp R   &kp T   &kp Y     &kp U    &kp I      &kp O     &kp P              &kp BACKSPACE
&lt 2 CAPS        &kp A      &kp S           &kp D   &kp F   &kp G   &kp H     &kp J    &kp K      &kp L     &kp SEMI           &kp ENTER
&kp LSHFT         &kp Z      &kp X           &kp C   &kp V   &kp B   &kp N     &kp M    &kp COMMA  &kp DOT   &kp FSLH           &kp RIGHT_SHIFT
&kp LCTRL         &kp LALT   &kp LANGUAGE_1  &none   &none   &none   &none     &none    &none      &kp RALT  &kp RIGHT_CONTROL  &kp MINUS
&kp LEFT_COMMAND  &kp SPACE  &mo 2                                   &cmd_bspc  &kp RET  &mo 2      &kp B
            >;
        };

        fn {
            bindings = <
&kp F1               &kp F2               &kp F3               &kp F4               &kp F5               &kp F6               &kp F7               &kp F8               &kp F9               &kp F10              &kp F11              &kp F12
&kp GRAVE            &kp MINUS            &kp EQUAL            &kp LEFT_BRACKET     &kp RIGHT_BRACKET    &kp SQT              &mkp MCLK            &mkp RCLK            &mkp LCLK            &mkp MCLK            &mkp RCLK            &kp F12
&mo 2                &trans               &kp HOME             &trans               &to 0                &to 1                &trans               &kp LEFT_ARROW       &kp DOWN_ARROW       &kp UP_ARROW         &kp RIGHT_ARROW      &kp KP_COMMA
&trans               &trans               &trans               &trans               &trans               &trans               &mkp LCLK            &trans               &kp KP_N2            &kp KP_N3            &kp KP_MULTIPLY      &trans
&mo 3                &trans               &trans               &trans               &trans               &trans               &trans               &trans               &trans               &kp KP_N0            &kp KP_DIVIDE        &kp KP_ENTER
&trans               &trans               &trans                                                                             &kp LG(SPACE)        &kp BACKSPACE        &trans               &trans
            >;
        };

        bootloader_layer {
            bindings = <
&trans      &trans        &trans        &trans        &trans  &bootloader  &bootloader  &trans  &trans  &trans  &trans  &trans
&trans      &trans        &trans        &trans        &trans  &trans       &trans       &trans  &trans  &trans  &trans  &trans
&trans      &trans        &trans        &trans        &trans  &trans       &trans       &trans  &trans  &trans  &trans  &trans
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &trans  &trans       &trans       &trans  &trans  &trans  &trans  &trans
&trans      &trans        &trans        &trans        &trans  &trans       &trans       &trans  &trans  &trans  &trans  &trans
&trans      &trans        &trans                                           &trans       &trans  &trans  &trans
            >;
        };
    };
};
